.container {
    max-width: 720px;
    margin: 20px;
    margin-left: 20%;
    // padding: 0 16;
    display: flex;
    flex-direction: column;


    h1 {
        font-weight: 500;

    }


}


.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55px;
    border: solid black 1px;
    border-radius: 6px;
    width: 85%;
    padding: 8px;
    // font-weight: bold;
    margin-top: 20px;
}

.input::placeholder {
    font-weight: 300;
}

@media (max-width: 767px) {

    .input {
        height: 45px;
        border: solid 2px;
        border-radius: 6px;
        width: 300px;
        padding: 20px;
        // font-weight: bold;

    }
}

.button {
    height: 45px;
    border-radius: 6px;
    background-color: #009C86;
    border: solid 1px #009C86;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    width: 85%;
    margin-top: 20px;
    letter-spacing: -0.33px;
    transition: 1s;

    &[disabled] {
        cursor: not-allowed;

        svg {
            animation: animate 2s infinite;
        }
    }

    &:hover {
        background-color: #51b2aa;
        border: solid 1px #51b2aa;
        color: #FFF;
    }

}

.buttonText {
    color: var(--white);
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 767px) {

    .button {
        height: 45px;
        flex-shrink: 0;
        border-radius: 6px;
        background-color: #009C86;
        border: solid 1px #009C86;
        color: #FFF;
        font-weight: bold;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 20px;
        width: 300px;
        margin-top: 20px;
        letter-spacing: -0.33px;
        transition: 3s;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}